
@{
    Layout = null;
}




<!DOCTYPE html>
<html>

<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" href="~/images/favicon.png" type="image/x-icon">

    <title>Efendioğlu</title>

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.css" />

    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,600,700&display=swap" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="~/css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="~/css/responsive.css" rel="stylesheet" />
</head>

<body>
    <div class="hero_area">
        <!-- header section strats -->


        <header class="header_section">
            <div class="header_top">
                <div class="container-fluid">
                    <div class="contact_link-container">
                        <a href="" class="contact_link1">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            <span>
                                Erzurum

                            </span>
                        </a>
                        <a href="https://www.google.com/maps/place/Erzurum/data=!4m2!3m1!1s0x406e5f28a5eb94f1:0x10e3fd56abbfb86?sa=X&ved=2ahUKEwjSrd3VtqqDAxWIgf0HHRkOC5AQ8gF6BAgLEAA" class="contact_link2">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <span>
                                Call : 5383544260
                            </span>
                        </a>
                        <a href="" class="contact_link3">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            <span>
                               Efendioglu@gmail.com
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="header_bottom">
                <div class="container-fluid">
                    <nav class="navbar navbar-expand-lg custom_nav-container">
                        <a class="navbar-brand" href="">
                            <span>
                                Efendioğlu
                            </span>
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class=""></span>
                        </button>
                        <!--BU KISIMDA YÜKSEK İHTİMALLE TUŞ LİNKLERİ VAR







                            -->
                        <div class="collapse navbar-collapse ml-auto" id="navbarSupportedContent">
                            <ul class="navbar-nav  ">
                                <li class="nav-item">
                                    <a class="nav-link" href="@Url.Action("index","Anasayfa")">Anasayfa <span class="sr-only"></span></a><!-- link belirlerken önce action method daha sonra controller belirliyoruz-->
                                </li>
                                <li class="nav-item">
                                    <!-- nav item active o kısmı renklendirir-->
                                    <a class="nav-link" href="@Url.Action("Kurumsal","Kurumsal") "> Kurumsal</a>
                                </li>
                                <li class="nav-item ">
                                    <a class="nav-link" href="@Url.Action("Hakkimizda","Hakkimizda") "> Hakkımızda</a>
                                </li>
                                <li class="nav-item ">
                                    <a class="nav-link" href="/YapiDenetim/Bedel_Hesapla">Bedel Hesaplama </a><!-- burada action link kullanmadan daha basit bir yolla sayfaya gidilmiştir-->
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="@Url.Action("Yapilar","YapiDenetim")">Yapılar <span class="sr-only"></span></a><!-- link belirlerken önce action method daha sonra controller belirliyoruz-->
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="@Url.Action("iletisim","Hakkimizda")">İletişim</a>
                                </li>

                                <li class="nav-item ">
                                    <a class="nav-link" href="/Hesap/Logout">Çıkış yap </a><!-- burada action link kullanmadan daha basit bir yolla sayfaya gidilmiştir-->
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </header>
        <!-- end header section -->


        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>

        <script src="~/Scripts/jquery-1.10.2.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>